CMakeCache.txt
CMakeFiles/
build-stamp
cmake_install.cmake
config.guess
config.sub
configure-stamp
debian/files
debian/tmp/
install_manifest.txt
Makefile
debian/wrt-plugins-dev.install
debian/wrt-plugins.install
debian/wrt-plugins.postinst
debian/wrt-plugins-common-dbg.debhelper.log
debian/wrt-plugins-common-dbg.substvars
debian/wrt-plugins-common-dbg/
debian/wrt-plugins-common.debhelper.log
debian/wrt-plugins-common.substvars
debian/wrt-plugins-common/
src/Makefile

debian/wrt-plugins-common-dev.debhelper.log
debian/wrt-plugins-common-dev.install
debian/wrt-plugins-common-dev.substvars
debian/wrt-plugins-common-dev/
debian/wrt-plugins-common.install
debian/wrt-plugins-common.postinst
debian/wrt-plugins-common.postinst.debhelper
debian/wrt-plugins-common.postrm.debhelper

pkgconfigs/*.pc

*~
*.swp
cmake_build/*

/bin
